button {
  width: 300px;
  height: 100px;
  background-color: aqua;
  color: green;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  transition: background-color 1s;
}
button:hover {
  width: 350px;
  height: 120px;
  background-color: green;
  color: black;
  cursor: pointer;
  font-size: 40px;
  transition: background-color, font-size 1s;
}
button:active {
  background-color: grey;
  color: blue;
  transition: background-color, width, height, font-size, border-radius 1s;
  width: 250px;
  height: 90px;
  font-size: 25px;
  border-radius: 25px;
}
