body {
  margin: 0;
  background-color: aqua;
  height: 300vh;
}
#percent {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
}
