* {
  box-sizing: border-box;
}
body {
  max-width: 1350px;
  margin: 0;
  padding: 0;
}
header {
  background-image: url(./images/40b1d3900da6b89c409bc907a7bbb77f.jpg);
  width: 100%;
  height: auto;
}
